# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
.idea
*.imi
*.pid

*.class

java-11-openjdk-11.0.15.9-1.windows.ojdkbuild.x86_64/

*.pem
*.ppk
*.yml

